In [18]:
%reload_ext autoreload
%autoreload 2

In [46]:
import pandas as pd
from pathlib import Path

from mbp.webscraping import activate_web_driver, get_team_page
from mbp.data import download_team_data, get_team_games_for_year
from mbp.paths import SEASONS_DIR, RAW_DATA_DIR

In [144]:
team_name = "Arizona"
raw_year = 2022

In [145]:
driver = activate_web_driver("firefox", True)

# Read team names
df = pd.read_csv(f"{RAW_DATA_DIR}/mbb_team_names_to_number.csv", index_col=0)

In [147]:
from selenium.webdriver.common.by import By

games_df = get_team_games_for_year(driver, df, team_name, raw_year)
games_df.head()

Opp has a # in it: #10 Stanford
@Las Vegas, NV (2023 MBB Pac-12 Championship)
Opp has a # in it: #6 Arizona St.
@Las Vegas, NV (2023 MBB Pac-12 Championship)
Opp has a # in it: #1 UCLA
@Las Vegas, NV (2023 MBB Pac-12 Championship)
Opp has a # in it: #15 Princeton
@Sacramento, CA (2023 NCAA Division I Men's Basketball Championship)

  raw_datetime       opponent    result attendance   datetime  home
0   11/11/2022    Southern U.   W 95-78     13,485 2022-11-11   1.0
1   11/17/2022      Utah Tech  W 104-77     12,752 2022-11-17   1.0
2   11/21/2022     Cincinnati  W 101-93      2,400 2022-11-21   0.0
3   11/22/2022  San Diego St.   W 87-70      2,400 2022-11-22   0.0
4   11/23/2022      Creighton   W 81-79      2,400 2022-11-23   0.0

In [148]:
# Download Arizona data
download_team_data(team_name, raw_year, True)

Downloading Arizona team games
Opp has a # in it: #10 Stanford
@Las Vegas, NV (2023 MBB Pac-12 Championship)
Opp has a # in it: #6 Arizona St.
@Las Vegas, NV (2023 MBB Pac-12 Championship)
Opp has a # in it: #1 UCLA
@Las Vegas, NV (2023 MBB Pac-12 Championship)
Opp has a # in it: #15 Princeton
@Sacramento, CA (2023 NCAA Division I Men's Basketball Championship)
Downloading Arizona team roster
Downloading Arizona team stats

In [149]:
# Get their games for the year
year_dir = Path(SEASONS_DIR / str(raw_year))
team_dir = year_dir / team_name
games_df = pd.read_csv(team_dir / "games.csv")

for opp in games_df['opponent']:
    opponent_games = year_dir / opp / "games.csv"
    if not opponent_games.exists():
        print(opp)
        download_team_data(opp, raw_year)

Princeton
Downloading Princeton team games
Downloading Princeton team roster
Downloading Princeton team stats

In [173]:
from mbp.classes import TeamYear

az = TeamYear("Arizona", 2022)
az.download_updated_data()

games = az.get_games()
games

Downloading Arizona team games
Downloading Arizona team stats

               opponent    result attendance    datetime  home
0           Southern U.   W 95-78     13,485  2022-11-11   1.0
1             Utah Tech  W 104-77     12,752  2022-11-17   1.0
2            Cincinnati  W 101-93      2,400  2022-11-21   0.0
3         San Diego St.   W 87-70      2,400  2022-11-22   0.0
4             Creighton   W 81-79      2,400  2022-11-23   0.0
5                  Utah   L 66-81      6,495  2022-12-01   0.0
6            California   W 81-68     14,352  2022-12-04   1.0
7               Indiana   W 89-75     13,357  2022-12-10   0.0
8    A&M-Corpus Christi   W 99-61     13,854  2022-12-13   1.0
9             Tennessee   W 75-70     14,688  2022-12-17   1.0
10          Montana St.   W 85-64     13,606  2022-12-20   1.0
11           Morgan St.   W 93-68     14,021  2022-12-22   1.0
12          Arizona St.   W 69-60     12,582  2022-12-31   0.0
13           Washington   W 70-67     13,562  2023-01-05   1.0
14       Washington St.   L 61-74     14,176  2023-01-07   1.0
15           Oregon St.   W 86-74      4,126  2023-01-12   0.0
16               Oregon   L 68-87      7,970  2023-01-14   0.0
17  Southern California   W 81-66     14,688  2023-01-19   1.0
18                 UCLA   W 58-52     14,688  2023-01-21   1.0
19       Washington St.   W 63-58      5,225  2023-01-26   0.0
20           Washington   W 95-72      9,268  2023-01-28   0.0
21               Oregon   W 91-76     14,688  2023-02-02   1.0
22           Oregon St.   W 84-52     14,688  2023-02-04   1.0
23           California   W 85-62      3,289  2023-02-09   0.0
24             Stanford   L 79-88      5,313  2023-02-11   0.0
25                 Utah   W 88-62     14,688  2023-02-16   1.0
26             Colorado   W 78-68     14,688  2023-02-18   1.0
27          Arizona St.   L 88-89     14,688  2023-02-25   1.0
28  Southern California   W 87-81      7,043  2023-03-02   0.0
29                 UCLA   L 73-82     13,659  2023-03-04   0.0
30             Stanford   W 95-84     11,226  2023-03-09   0.0
31              Arizona   W 78-59     13,788  2023-03-10   1.0
32                 UCLA   W 61-59     14,022  2023-03-11   0.0
33            Princeton   L 55-59     14,896  2023-03-16   0.0