In [18]:
%reload_ext autoreload
%autoreload 2

In [46]:
import pandas as pd
from pathlib import Path

from mbp.webscraping import activate_web_driver, get_team_page
from mbp.data import download_team_data, get_team_games_for_year
from mbp.paths import SEASONS_DIR, RAW_DATA_DIR

In [71]:
driver = activate_web_driver("firefox", True)

# Read team names
df = pd.read_csv(f"{RAW_DATA_DIR}/mbb_team_names_to_number.csv", index_col=0)

In [89]:
team_name = "Arizona"
raw_year = 2022

In [133]:
from selenium.webdriver.common.by import By

games_df = get_team_games_for_year(driver, df, team_name, raw_year)
games_df.head()
# get_team_page(driver, df, team_name, raw_year)

# tables = driver.find_elements(By.CSS_SELECTOR, "#contentarea table>tbody")
# for table in tables:
#     try:
#         legend = table.find_element(By.CSS_SELECTOR, "fieldset>legend")
#         if legend.text == "Schedule/Results":
#             schedule_result_element = table
#     except:
#         pass
# listing = schedule_result_element.find_elements(
#         By.CSS_SELECTOR, "fieldset table > tbody tr"
#     )
# print(listing[0].text)

parts: ['11/11/2022'] (1)
parts: ['11/17/2022'] (1)
parts: ['11/21/2022'] (1)
parts: ['Cincinnati\n', 'Lahaina, HI (2022-23 MBB Maui Invitational)']
parts: ['11/22/2022'] (1)
parts: ['San Diego St.\n', 'Lahaina, HI (2022-23 MBB Maui Invitational)']
parts: ['11/23/2022'] (1)
parts: ['Creighton\n', 'Lahaina, HI (2022-23 MBB Maui Invitational)']
parts: ['12/01/2022'] (1)
parts: ['', ' Utah']
parts: ['12/04/2022'] (1)
parts: ['12/10/2022'] (1)
parts: ['Indiana\n', 'Las Vegas, NV (2022-23 MBB Las Vegas Clash)']
parts: ['12/13/2022'] (1)
parts: ['12/17/2022'] (1)
parts: ['12/20/2022'] (1)
parts: ['12/22/2022'] (1)
parts: ['12/31/2022'] (1)
parts: ['', ' Arizona St.']
parts: ['01/05/2023'] (1)
parts: ['01/07/2023'] (1)
parts: ['01/12/2023'] (1)
parts: ['', ' Oregon St.']
parts: ['01/14/2023'] (1)
parts: ['', ' Oregon']
parts: ['01/19/2023'] (1)
parts: ['01/21/2023'] (1)
parts: ['01/26/2023'] (1)
parts: ['', ' Washington St.']
parts: ['01/28/2023'] (1)
parts: ['', ' Washington']
parts: ['02/02/2023'] (1)
parts: ['02/04/2023'] (1)
parts: ['02/09/2023'] (1)
parts: ['', ' California']
parts: ['02/11/2023'] (1)
parts: ['', ' Stanford']
parts: ['02/16/2023'] (1)
parts: ['02/18/2023'] (1)
parts: ['02/25/2023'] (1)
parts: ['03/02/2023'] (1)
parts: ['', ' Southern California']
parts: ['03/04/2023'] (1)
parts: ['', ' UCLA']
parts: ['03/09/2023'] (1)
parts: ['#10 Stanford\n', 'Las Vegas, NV (2023 MBB Pac-12 Championship)']
parts: ['03/10/2023'] (1)
parts: ['#6 Arizona St.\n', 'Las Vegas, NV (2023 MBB Pac-12 Championship)']
parts: ['03/11/2023'] (1)
parts: ['#1 UCLA\n', 'Las Vegas, NV (2023 MBB Pac-12 Championship)']
parts: ['03/16/2023'] (1)
parts: ['#15 Princeton\n', "Sacramento, CA (2023 NCAA Division I Men's Basketball Championship)"]
   raw_datetime             opponent    result attendance   datetime  home
0    11/11/2022          Southern U.   W 95-78     13,485 2022-11-11   1.0
1    11/17/2022            Utah Tech  W 104-77     12,752 2022-11-17   1.0
2    11/21/2022           Cincinnati  W 101-93      2,400 2022-11-21   0.0
3    11/22/2022        San Diego St.   W 87-70      2,400 2022-11-22   0.0
4    11/23/2022            Creighton   W 81-79      2,400 2022-11-23   0.0
5    12/01/2022                 Utah   L 66-81      6,495 2022-12-01   0.0
6    12/04/2022           California   W 81-68     14,352 2022-12-04   1.0
7    12/10/2022              Indiana   W 89-75     13,357 2022-12-10   0.0
8    12/13/2022   A&M-Corpus Christi   W 99-61     13,854 2022-12-13   1.0
9    12/17/2022            Tennessee   W 75-70     14,688 2022-12-17   1.0
10   12/20/2022          Montana St.   W 85-64     13,606 2022-12-20   1.0
11   12/22/2022           Morgan St.   W 93-68     14,021 2022-12-22   1.0
12   12/31/2022          Arizona St.   W 69-60     12,582 2022-12-31   0.0
13   01/05/2023           Washington   W 70-67     13,562 2023-01-05   1.0
14   01/07/2023       Washington St.   L 61-74     14,176 2023-01-07   1.0
15   01/12/2023           Oregon St.   W 86-74      4,126 2023-01-12   0.0
16   01/14/2023               Oregon   L 68-87      7,970 2023-01-14   0.0
17   01/19/2023  Southern California   W 81-66     14,688 2023-01-19   1.0
18   01/21/2023                 UCLA   W 58-52     14,688 2023-01-21   1.0
19   01/26/2023       Washington St.   W 63-58      5,225 2023-01-26   0.0
20   01/28/2023           Washington   W 95-72      9,268 2023-01-28   0.0
21   02/02/2023               Oregon   W 91-76     14,688 2023-02-02   1.0
22   02/04/2023           Oregon St.   W 84-52     14,688 2023-02-04   1.0
23   02/09/2023           California   W 85-62      3,289 2023-02-09   0.0
24   02/11/2023             Stanford   L 79-88      5,313 2023-02-11   0.0
25   02/16/2023                 Utah   W 88-62     14,688 2023-02-16   1.0
26   02/18/2023             Colorado   W 78-68     14,688 2023-02-18   1.0
27   02/25/2023          Arizona St.   L 88-89     14,688 2023-02-25   1.0
28   03/02/2023  Southern California   W 87-81      7,043 2023-03-02   0.0
29   03/04/2023                 UCLA   L 73-82     13,659 2023-03-04   0.0
30   03/09/2023         #10 Stanford   W 95-84     11,226 2023-03-09   0.0
31   03/10/2023       #6 Arizona St.   W 78-59     13,788 2023-03-10   0.0
32   03/11/2023              #1 UCLA   W 61-59     14,022 2023-03-11   0.0
33   03/16/2023        #15 Princeton   L 55-59     14,896 2023-03-16   0.0

  raw_datetime       opponent    result attendance   datetime  home
0   11/11/2022    Southern U.   W 95-78     13,485 2022-11-11   1.0
1   11/17/2022      Utah Tech  W 104-77     12,752 2022-11-17   1.0
2   11/21/2022     Cincinnati  W 101-93      2,400 2022-11-21   0.0
3   11/22/2022  San Diego St.   W 87-70      2,400 2022-11-22   0.0
4   11/23/2022      Creighton   W 81-79      2,400 2022-11-23   0.0

In [138]:
# Download Arizona data
download_team_data(team_name, raw_year, True)

Downloading Arizona team games
Downloading Arizona team roster
Downloading Arizona team stats

In [139]:
# Get their games for the year
year_dir = Path(SEASONS_DIR / str(raw_year))
team_dir = year_dir / team_name
games_df = pd.read_csv(team_dir / "games.csv")

for opp in games_df['opponent']:
    opponent_games = year_dir / opp / "games.csv"
    if not opponent_games.exists():
        print(opp)
        download_team_data(opp, raw_year)

Utah Tech
Downloading Utah Tech team games
Downloading Utah Tech team roster
Downloading Utah Tech team stats
Cincinnati
Downloading Cincinnati team games
Downloading Cincinnati team roster
Downloading Cincinnati team stats
San Diego St.
Downloading San Diego St. team games
Downloading San Diego St. team roster
Downloading San Diego St. team stats

In [13]:
# Get games for the year
games_df = pd.read_csv(f"{SEASONS_DIR}/{raw_year}/{team_name}_games.csv")
stats_df = download_raw_team_stats_for_year("Morgan St.", 2022)
stats_df
# for opponent in games_df['opponent']:
    # stats_df = get_team_stats(driver, df, team_name, raw_year)

,Jersey,Player,Yr,Pos,Ht,GP,GS,MP,G,FGM,...,AST,TO,STL,BLK,Fouls,Dbl Dbl,Trpl Dbl,DQ,Tech Fouls,Effective FG Pct.
0,2,"Burke, Isaiah",Sr,G,6-1,31,31,1069:55,31,200,...,86,86,46,9,61,,,,1,8
1,4,"Copeland, Daiquan",Jr,G,6-6,12,7,211:08,12,20,...,23,35,10,1,30,,,1,,2
2,5,"Djonkam, Lewis",Sr,F,6-9,31,29,659:49,31,108,...,35,38,30,15,102,,,9,1,10
3,14,"Fagbenle, Toto",Sr,F,6-9,16,6,214:00,16,16,...,12,14,17,10,35,,,,1,2
4,0,"Hobbs, Kamron",So,G,5-10,31,16,874:11,31,93,...,83,59,44,3,60,,,,2,8
5,31,"Horner, Ty",Sr,F,6-10,26,11,309:01,26,28,...,18,10,10,10,58,,,4,,7
6,3,"Lawson, Rob",Fr,G,6-0,29,1,560:48,29,54,...,51,43,27,1,53,,,1,,8
7,23,"McCullough, David",Sr,G,6-6,19,12,350:40,19,35,...,16,30,18,14,36,,,1,,4
8,11,"Miller, Malik",Sr,G,6-4,19,19,614:25,19,123,...,74,65,39,13,52,10,1,2,,4
9,21,"Nnamene, Collin",Sr,F,6-9,30,3,375:59,30,22,...,14,37,11,42,69,,,2,,9
10,10,"Thomas, Will",Jr,G,6-5,29,8,614:56,29,105,...,37,38,20,7,45,1,,,,6
11,1,"Turner, Khalil",Jr,F,6-8,13,12,314:42,13,47,...,25,22,28,13,41,1,,2,1,2
12,22,"Wiggins, Kevon",Jr,G,6-3,17,0,105:25,17,12,...,5,9,3,,5,,,,,2